.container {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
}
.subcontainer {
  grid-column: col-start 3 / span 8;

}
.image_comp {
  vertical-align: middle;
  border-radius: 0.5rem;
  margin-right: 0.75rem;
  object-fit: contain;
}
.comp_card {
  display: flex;
  align-items: center;
}
.card p {
  font-size: 14px;
  color: #4b5563;
  margin-top: 0.25rem;
}
.cardJob p {
  font-size: 14px;
  color: #4b5563;
  margin-top: 0.75rem;
}

.card {
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 0px 20px;
  border-radius: 0.75rem;
  align-items: center;
}
.cardJob {
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 20px 20px 0px 20px;
  border-radius: 0.75rem;
}
.job_qual {
  margin-top: 1.25rem;
}
@media screen and (max-width: 600px) {
  .container {
  grid-template-columns: repeat(6, [col-start] 1fr);
  }
  .subcontainer {
    grid-column: col-start 1 / span 6;
  }
}